# Data structures:
- list
- tuple
- dictionary
- it will store data partucular data structure
- soting
- searching
- storing

In [1]:
l = [1,2,3,4,5,6,7]
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# Acess 1st element
print(l[0])
print(l[-7])

1
1

In [5]:
#acess range of element
print(l[0:5])
print(l[1:4])

[1, 2, 3, 4, 5]
[2, 3, 4]

# update the element

In [6]:
l = [1,2,3,4,5,6,7]
print(l)
l[2]=10
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 4, 5, 6, 7]

In [7]:
# update the range of element
l = [1,2,3,4,5,6,7]
print(l)
l[0:2]= [9,8,7]
print(l)

[1, 2, 3, 4, 5, 6, 7]
[9, 8, 7, 3, 4, 5, 6, 7]

# LIST METHODS:

## INSERT METHOD:
- IT INSERT items in specific index

In [8]:
l = [1,2,3,4,5,6,7]
l.insert(4,"rupa")
print(l)

[1, 2, 3, 4, 'rupa', 5, 6, 7]

# append method
- add an item in the end list

In [9]:
l = [1,2,3,4,5,6,7]
l.append(67)
l
l.append(32)
print(l)

[1, 2, 3, 4, 5, 6, 7, 67, 32]

# extend list:
- apppend element from another list of current list

In [11]:
l = [1,2,3,4,5,6,7]
l1= [9,10,11,12]
l.extend(l1)
l1.extend(l)
print(l)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]
[9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]

In [30]:
l = [12,13,14,15,16,17]
l1 = [21,22,23,24]
l.extend(l1)
print(l)
l.extend(l1)
print(l)

[12, 13, 14, 15, 16, 17, 21, 22, 23, 24]
[12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 21, 22, 23, 24]

# removed method:
- it will remove value from list

In [13]:
l = [1,2,3,4,5,6,7]
l.remove(3)
print(l)

[1, 2, 4, 5, 6, 7]

In [14]:
l = [1,2,3,4,5,6,7]
l.remove(5)
print(l)

[1, 2, 3, 4, 6, 7]

# pop method:
- it remove specific value

In [15]:
l = [1,2,3,4,5,6,7]
l.pop(4)
l

[1, 2, 3, 4, 6, 7]

# del method
- it also removes the specific index

In [16]:
l = [1,2,3,4,5,6,7]
del l[2]
l

[1, 2, 4, 5, 6, 7]

In [21]:
l = [1,2,3,4,5,6,7,8,9]
del l[2:6]
l

[1, 2, 7]

# sort method
- it will the short list ascending order

In [18]:
l = [1,7,3,8,5,9,7]
l.sort()
l

[1, 3, 5, 7, 7, 8, 9]

# clear method 
- it emplist the list

In [19]:
l = [1,2,3,4,5,6,7]
l.clear()
l

[]

# reversed method

In [22]:
l = [1,2,3,4,5,6,7]
l.reverse()
l

[7, 6, 5, 4, 3, 2, 1]

# copy method

In [23]:
l = [7,8,9,]
l1 = l.copy()
l1

[7, 8, 9]

# count()

In [33]:
l = [1,5,89,6,6,2,5,6,4,5,6]
l1 = l.count(6)
l1

4

# index:

In [32]:
l = [1,2,3,4,5,6,7,8,9]
l1 = l.index(5)
l1

4

In [35]:
l = [1,2,3,4,5,6,7]
#length of list
print(len(l))
print(max(l))
print(min(l))
print(sum(l))
# average
print(sum(l)/len(l))

7
7
1
28
4.0

# tuple:
- it cannot be changed/modified
- tuple enclosed with round brackets and items are separed by comma

In [36]:
l = [1,2,3,4,5,6,7]
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [37]:
# Access
l = (1,2,3,4,5,6,7)
print(t[0])
print(t[1:5])

1
(2, 3, 4, 5)

In [38]:
# update
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t1[5] = 10
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 10, 7)

In [42]:
#append
t = (1,2,3,4,5,6,7)
t1 =list(t)
print(t1)
t1.append(12)
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7, 12)

In [44]:
# extend 
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t2 = (8,9,10)
t1.extend(t1)
t = tuple(t)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7)

In [49]:
# remove
t = (1,2,3,4,5,6)
t1 = list(t)
print(t1)
t1.remove(3)
t = tuple(t1)
print(t1)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [50]:
# pop 
t = (1,2,3,4,5,6)
t1 = list(t)
print(t1)
t1.pop(2)
t = tuple(t1)
print(t1)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [54]:
# del 
t = (1,2,3,4,5,6)
t1 = list(t)
print(t1)
del t1[2]
t = tuple(t1)
print(t1)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [58]:
#sort
t = (1,8,5,4,9,6)
t1 = list(t)
t1.sort()
t = tuple(t1)
print(t1)

[1, 4, 5, 6, 8, 9]

In [59]:
# reversed
t = (1,2,3,4,5,6,7,8,9)
t1 = list(t)
print(t1)
t1.reverse()
t = tuple(t1)
print(t1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
# copy 
t = (1,2,3,)
t1 = list(t)
t2 = t1.copy()
t = tuple(t2)
print(t1)

[1, 2, 3]

In [67]:
# count
t = (1,2,3,4,5,2,2)
t1 = list(t)
t2 =t1.count(2)
t = tuple(t2)
print(t1)

TypeError: 'int' object is not iterable